---
import { SITE } from '@/consts'
import { ClientRouter } from 'astro:transitions'
import Favicons from './Favicons.astro'

type Props = {
  title: string
  description: string
  image?: string
  author?: string
}

const { title, description, image, author } = Astro.props
---

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, user-scalable=yes"
/>
<meta name="generator" content={Astro.generator} />

<title>{title || SITE.title}</title>
<meta name="description" content={description || SITE.description} />
<meta name="author" content={author || SITE.title} />
<meta name="robots" content="index, follow" />

<meta name="HandheldFriendly" content="True" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta
  name="format-detection"
  content="telephone=no,date=no,address=no,email=no,url=no"
/>

<meta
  name="theme-color"
  content="#121212"
  media="(prefers-color-scheme: dark)"
/>
<meta
  name="theme-color"
  content="#121212"
  media="(prefers-color-scheme: light)"
/>

<link rel="canonical" href={Astro.url} />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="manifest" href="/site.webmanifest" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE.title}
  href={new URL('rss.xml', Astro.site)}
/>

<meta property="og:title" content={title || SITE.title} />
<meta property="og:description" content={description || SITE.description} />
<meta property="og:image" content={image || SITE.image} />
<meta property="og:image:alt" content={title || SITE.title} />
<meta property="og:type" content="website" />
<meta property="og:locale" content={SITE.locale} />
<meta property="og:site_name" content={SITE.title} />
<meta property="og:url" content={Astro.url} />

<meta name="twitter:title" content={title || SITE.title} />
<meta name="twitter:description" content={description || SITE.description} />
<meta name="twitter:image" content={image || SITE.image} />
<meta name="twitter:image:alt" content={title || SITE.title} />
<meta name="twitter:card" content="summary_large_image" />

<script
  is:inline
  type="application/ld+json"
  set:html={JSON.stringify({
    '@context': 'https://schema.org',
    '@type': 'WebSite',
    name: SITE.title,
    url: Astro.site,
    description: SITE.description,
  })}
/>

<meta
  http-equiv="Content-Security-Policy"
  content="upgrade-insecure-requests"
/>
<meta http-equiv="X-Content-Type-Options" content="nosniff" />
<meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />
<meta http-equiv="X-XSS-Protection" content="1; mode=block" />

<Favicons />
<ClientRouter />
