---
import '@/styles/global.css'
import '@/styles/typography.css'

import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { SITE } from '@/consts'
import { cn } from '@/lib/utils'
import GoogleAnalytics from '@astro-kits/google-analytics'

type Props = {
  title: string
  description: string
  image?: string
  isWide?: boolean
  author?: string
}

const { title, description, image, isWide = false, author } = Astro.props
---

<!doctype html>
<html lang={SITE.locale}>
  <head>
    <Head
      title={title}
      description={description}
      image={image}
      author={author}
    />
    <GoogleAnalytics id="G-THWXJPW7G0" />
  </head>

  <body>
    <div class="flex h-fit min-h-screen flex-col gap-y-6 font-sans">
      <Header />
      <main class="grow">
        <div
          class={cn(
            'mx-auto flex grow flex-col gap-y-6 px-4',
            !isWide && 'max-w-3xl'
          )}
        >
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
